// color variables
$main-bg: #212529;
$main-txt: #dee2e6;
$contrast-bg: #1a1e22;
$control-bg: #495057;
$accent-bg: #1f364d;
$accent-border: #264b69;
$softborder: #292f35;
$hardborder: #495057;
$softtext: #adb5bd  ;
$disabledtext: #495057;
$selectedtab: #339af0;